@import './variables/color';

html {
  height: 100%;
}

body {
  background: $color5;
  height: 100%;
  color: $color1;
  a{
    color: $color2;
  }

  .sky {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 0 170% 0;
    animation-duration: 10000s;
    //top: 250px;
    //left: 500px;
    //height: 500px;
    //width: 500px;

    //animation-duration: 10s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .star {
      width: 10px;
      height: 10px;
      position: fixed;
      display: inline-block;
      border: 0px solid #ffff44;
      border-radius: 25px;
      &.color1  {
        background-color: #ffc1c1;
      }
      &.color2  {
        background-color: #ffc1e0;
      }
      &.color3  {
        background-color: #ffc1ff;
      }
      &.color4  {
        background-color: #e0c1ff;
      }
      &.color5  {
        background-color: #c1c1ff;
      }
      &.color6  {
        background-color: #c1e0ff;
      }
      &.color6  {
        background-color: #c1ffff;
      }
      &.color7  {
        background-color: #c1ffe0;
      }
      &.color8  {
        background-color: #c1ffc1;
      }
      &.color9  {
        background-color: #e0ffc1;
      }
      &.color10  {
        background-color: #ffffc1;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main {
  height: 100%;
  box-sizing: border-box;
  padding: 120px 0 80px 0;
  position: relative;
  overflow-y: scroll;
}

.profileLayout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 1fr;
  height: 100%;
}

.profileFeatured {
  grid-row: 1;
  grid-column: 1;

  margin: auto;
  text-align: center;
  &__title {
    position: relative;
    font-size: 2.0em;
    margin-bottom: 16px;
  }
  &__icon {
    position: absolute;
    border-radius: 25px;
    left: -48px;
    height: 40px;
    width: 40px;
  }
}

.profileDocument {
  grid-row: 1;
  grid-column: 2;
  margin: auto 8px;

  &__title {
    font-size: 1.6em;
    margin-bottom: 24px;
  }

  p {
    margin-bottom : 4px;
  }
}


.duplication {
  &__startedMonth {
    &:after {
      content: "~";
      padding: 0 4px;
    }
  }
}

.historyLayout {
  padding: 0 80px;

  &__title {
    font-size: 2.0em;
    margin-bottom: 16px;
  }
}

.organization {
  margin-bottom: 48px;

  &__subject {
    height: 32px;
    margin-bottom: 16px;
  }
  &__title {
    font-size: 1.6em;
    display: inline;
  }
  .duplication {
    display: inline;
    margin-right: 48px;
  }
}

.productsLayout {
  display: grid;
  grid-template-columns: 280px auto 240px 200px;

  &__header {
    padding-bottom: 12px;
    margin-bottom: 8px;
    border-bottom: solid $color3 4px;
  }
  &__item {
    padding-bottom: 8px;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 1.2em;
    margin-bottom: 4px;
  }
  &__listItem {
      padding-bottom: 4px;
  }
}

.worksLayout {
  padding: 0 80px;
  &__title {
    font-size: 2.0em;
    margin-bottom: 16px;
  }
  &__contents {
    display: flex;
    flex-wrap: wrap;
  }
}

.workPanel {
  width: 240px;
  margin: 0 12px 24px 12px;
  background-color: $color3;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);

  &__image {
    height: 260px;
    display: block;
    overflow: hidden;
    padding-bottom: 24px;
    img {
      object-fit: contain;
      width: 100%;
      max-height: 100%;
    }
  }
  &__body {
    padding-bottom: 16px;
  }
  &__title {
    font-size: 1.2em;
    margin-bottom: 16px;
  }
  &__description {
    height: 80px;
  }
  &__footer {
    width: 100%;
    word-break: break-all;
  }
}
